[2020-09-22 12:03] asciidiego opened #3 "When using orientation="horizontal" items do not render unless they completely fit the columns"
### Which platform(s) does your issue occur on?
- iOS/Android/Both - `iOS`
- iOS/Android versions - `iOS 14`
- emulator or device. What type of device?
ATM I have only tried it on emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it)
`7.0.9-rc.0` (to make it work with iOS 14, with the new JS runtime).
- Cross-platform mod

[2020-09-22 12:21] diegovincent commented on #3
Update. It works as expected on `Android`.

[2020-10-24 21:28] xlmnxp opened #4 "request Ivy support"
### Which platform(s) does your issue occur on?
- Both
- iOS/Android versions 7.0.1
- Pixel 3 XL

### Please, provide the following version numbers that your issue occurs with:

- CLI: 7.0.7
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/@nativescript/core/package.json` file in your project)
- Runtime(s): Both is 7.0.1
- Plugin(s): nativescript-collectionview `^2.0.3

[2020-10-24 21:32] xlmnxp commented on #4
fixed, I used only version of this plugin named "nativescript-collectionview" instead of "@nativescript-community/ui-collectionview"

[2020-10-24 21:32] #4 closed

[2020-11-08 16:35] keerl opened #10 "Implement Header/Footer Capabilities"
In order for this plugin to be an alternative to RadListView, one of the features missing is being able to make a header and footer easily.

https://docs.nativescript.org/ui/components/radlistview/header-footer

It would be nice to have reserved template keys for `header` and `footer` build-in.

[2020-11-08 19:36] farfromrefug commented on #10
To be clear it is already possible. Use a "header" or "footer" templates.
However the real usecase is to have the binding context of the listview and not the of the item.
Right I don't really need so not a priority to me.
But obviously anyone who wants to make a PR is welcome.

[2020-11-08 19:42] keerl opened #11 "Create Docs & Demos For Mulit-Template Example"
Right now the demos are for a simple CollectionView example. I want to make another demo that uses the templates feature of this plugin as well as document that for each framework in the README.

[2020-11-08 19:46] keerl commented on #10
So you're saying it's possible by using templates currently, but you would have to have a "header" and "footer" item in the data that is being bound to the CollectionView? I figured that would be the case, I would just ideally want a more friendly way to do it, like RadListView does. I may take a crack at this eventually. I just created this as more of a wish-list sort of item to keep track of.

[2020-11-08 19:50] farfromrefug commented on #10
Yes good wishlist though!

[2020-11-28 06:12] georgemark0v opened #12 "loadedEvent not calling when new cell added"
[code]

I have uicollectionview with multiple templates.

One of them is voice message layout. When new message added i'm need check for if existing id (if not - start uploading process, if exists start downloading process to cache). Problem in next. When im recorded new voice message and add him to collectionview - loadedEvent not firing. When im tapped on back button and again join to chat page

[2020-11-28 06:45] farfromrefug commented on #12
You can't rely on loafed to do such a thing. Because of the way the collectionview works loaded might be triggered only 10 times when you have 100 items.
From what I understand all the logic you want goes around the data of the collection view. Use an observablearray if you want to listen for changes

[2020-11-28 06:55] georgemark0v commented on #12
i don't calling reloadData all times, i'm already using observable array :)).
Also im understood as collectionview works, but still can't understand why loadedEvent not firing when new cell was added. This is new index, this is new bindingContext , this is new view.

[2020-11-28 06:57] farfromrefug commented on #12
No it is not a new view. It reuses cell which were in the cache. If there are any you wont get an event.

[2020-11-28 07:01] georgemark0v commented on #12
Oh sh...
So starting changing all logic in my code
Big Thanks 😄

[2020-11-28 07:01] #12 closed

[2020-12-09 19:26] georgemark0v opened #13 "Crash of modal navigation"
"@nativescript-community/ui-collectionview": "^4.0.9",
"@nativescript-community/ui-collectionview-waterfall": "^1.1.0"
"@nativescript/ios": "7.0.6"

I have nested collection views
• Displayed messages ;
• Displayed attachments with waterfall layout;

The problem is that after I have opened page where one collection is nested in another, modals stop working until you open any other page. In the con

[2020-12-09 20:05] farfromrefug commented on #13
Please share a full error stack. And a repro example would be nice

[2021-01-19 10:20] aPinix opened #14 "iOS click scrolls to top after loadMore items disappear"
### Which platform(s) does your issue occur on?
- iOS/Android/Both - `IOS`
- iOS/Android versions - `iOS 14`
- emulator or device. What type of device? - `ATM I have only tried it on emulator`

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it) - `7.0.11`
- Cross-platform modules: (check the 'version' attribute in the
`node_modu

[2021-01-19 10:32] farfromrefug commented on #14
@aPinix thanks will look at it. Though dont have time to do it anytime soon :s

[2021-01-19 11:17] aPinix opened #15 "Feature Request: Scroll Snap Items"
It would be awesome if `CollectionView` could have the ability to snap items (1 or more).

https://user-images.githubusercontent.com/698523/105027761-10be8a80-5a48-11eb-8019-e82ea12546a2.mp4

[2021-01-19 11:19] aPinix commented on #14
Thanks in advance ;)

[2021-01-20 00:36] HakobiDev opened #16 "QUESTION: Support for emit current index on viewport?"

[2021-01-20 00:37] HakobiDev commented on #16
Vue section

[2021-01-20 07:55] farfromrefug commented on #16
@HakobiDev you know it does not mean anything? What can you expect without even a description?

[2021-01-20 07:55] #16 closed

[2021-02-21 04:40] Whip opened #17 "Can not select an element by id inside the collectionView"
### Which platform(s) does your issue occur on?
- Android 11, real device (Samsung phone)

### Please, provide the following version numbers that your issue occurs with:
- CLI: 7.1.2
- Cross-platform modules: 7.1.4
- Runtime(s): 7.0.1
- Plugin(s):
[code]

### Please, tell us how to recreate the issue in as much detail as possible.
[code]

[code]
I'm trying to replace Radlistview with this plugin b

[2021-02-21 07:01] farfromrefug commented on #17
I don't even know why it works in rlv. it should not. there is a big chance that view might not be "findable". instead you need to use `getViewForItemAtIndex`

[2021-02-21 08:06] Whip commented on #17
I can't find any documentation on this. Can you post a simple example?

[2021-02-21 15:58] farfromrefug commented on #17
you can look at the typings. yes the doc might not be full but the typings are always up to date

[2021-02-22 10:37] Whip commented on #17
Okay I looked through your code and I see the function is used in there but I can't seem to get it to work. I tried

[code]

Both don't work. I did spot that there's a view returned in the function, so I tried

[code]

it returns the GridLayout. My code is a bit complicated than I posted above as an example. Its a GridLayout containing several items, one of those has the id on it which I need. I f

[2021-02-22 11:25] farfromrefug commented on #17
@Whip you re almost there. Now that you have the `GridLayout` which is the cell holder, simply use the `getViewById` you want on this `GridLayout` then you ll get your view

[2021-02-23 10:50] Whip commented on #17
Perfect. Thanks for your guidance.

[2021-02-23 10:50] #17 closed

[2021-04-01 16:06] MCurran16 opened #18 "Feature Request: RadListView functionality"
To be a viable alternative to the RadListView, it needs to implement all of its functionality.

- Swipe to delete
- Pull to refresh

These are two major ones that are missing.

Thank you

[2021-04-01 18:40] farfromrefug commented on #18
it does not try to be an alternative to rlv. people are switching  from rlv because it is "big" and slow. collectionview aim to be fast and simple.
pull to refresh is already existing in other plugins (and compatible with collection view)
as for swipe right now won't happen as i did not find good native libs to do that .
plus whatever happens I will only happen as another plugin on top of collecti

[2021-04-01 18:40] #18 closed

[2021-04-09 22:03] vallemar commented on #11
@keerl I would like to see this.  Today I have been making several templates for vue and it has cost me since in the documents it does not appear for vue and there are some differences

[2021-04-09 22:18] vallemar opened #20 "Row height change documentation"
I have experienced a problem that can be very common.  Let's imagine that I have 2 templates: header and item.  Inside the header or the item I have something that is interactive: if you touch a button the row shows something new and therefore the height changes.  when this behavior happens in android it works fine, the row is enlarged but in iOS the final ones overflow and do "strange things".  I

[2021-04-10 12:53] farfromrefug commented on #20
You need to call `setItem` on a `ObservableArray` and change a variable in your item which would be used to define the item height (dont use `rowHeight`).
As for documenting this, it is a good Idea and you are welcome to create a PR. (sorry dont have enough time to maintain all plugins, write my apps and do docs on top of that ;))

[2021-04-10 13:00] vallemar commented on #20
i think i will try what you are saying but i will try it again with a new project.  If it works I will create a PR with a small section!

[2021-04-10 13:00] #20 closed

[2021-04-10 13:09] farfromrefug commented on #20
@vallemar thanks it should work i do that all the time for FAQs

[2021-04-11 22:14] vallemar commented on #20
Hi @farfromrefug , I have created the test project. My result is that if you have a condition inside the template and you activate the property of an observableArray that makes it show, this does not happen if you don't force the .refresh() of the list, I put my example code:

[code]

[2021-04-12 09:05] farfromrefug commented on #20
@vallemar this is not the right way to update an `ObservableArray`. You need to call `setItem` on the `ObservableArray`

[2021-04-12 09:22] vallemar commented on #20
ummm, that would be if your intention is to add a new item to the list but if you want to update an existing element like I do in the example, do you have to force .refresh()?

[2021-04-12 09:40] farfromrefug commented on #20
@vallemar no if you want to add you use `splice` or `push` . `setItem` is exactly for what you want. You can look at the typings it should be explained

[2021-04-12 09:51] vallemar commented on #20
Ahhh ok, now I understand you. You should do `getItem(x)`, then `modify the object` and then do a `setItem(object, x)`. Personally I don't see setItem as a natural language for a set/update method? and for me it has been confusing. Thank you

[2021-04-12 09:52] farfromrefug commented on #20
@vallemar yes no problem i dont really like it either ;)

[2021-04-12 19:18] mobilemindtec opened #21 "iOS reset list"
Hi,

How I can reset list? I'm need clear and add new items on list.

[code]

or

[code]

Message:

[code]

[2021-04-12 21:26] farfromrefug commented on #21
use splice to remove all and insert.
also setting a new observable array should work. I do both

[2021-05-11 08:11] xzwiex opened #22 "Angular 11: ɵɵstaticContentQuery was not found"
### Which platform(s) does your issue occur on?
- Android (not checked iOS, but think the same)
- iOS/Android versions
- emulator or device. What type of device?

### Please, provide the following version numbers that your issue occurs with:

- CLI: `8.0.1`
- Cross-platform modules: `8.0.5`
- Plugin: `4.0.29"`

### Please, tell us how to recreate the issue in as much detail as possible.
I clone th

[2021-05-18 16:27] garsuga commented on #22
For anyone looking for a temporary fix, this just needs to rebuilt.

1. Download the repo as zip or clone it.
2. Run `npm i --force` in the root of the project to install dependencies.
3. Run `npm run build.all`
4. Navigate to where you need to use this project and run `npm i /path/to/repo/packages/collectionview` to install it from your local copy.

Idk much about this stuff but I hope this helps

[2021-05-18 17:28] farfromrefug commented on #22
@garsuga just rebuild without deps update? I can make a new release

[2021-05-18 17:37] garsuga commented on #22
I didn't do anything to update mine, just tried a build right away.

[2021-05-18 17:45] garsuga opened #23 "Feature Request: Add method similar to ListView isItemAtIndexVisible"
I could not find anything similar to this in CollectionView, would it be possible to expose a function similar to the isItemAtIndexVisible function in ListView.  https://v6.docs.nativescript.org/api-reference/classes/_ui_list_view_.listview.html#isitematindexvisible

[2021-05-19 07:36] farfromrefug commented on #22
@garsuga could you try 4.0.30?

[2021-05-19 07:44] farfromrefug commented on #23
@garsuga added in 4.0.31

[2021-05-19 12:14] keerl commented on #22
That fixed it for me.

[2021-05-19 17:27] garsuga commented on #22
Fixed for me as well, thanks

[2021-05-19 17:50] garsuga commented on #23
Seems to work great, thanks

[2021-05-19 17:50] #23 closed

[2021-05-19 21:52] garsuga opened #24 "Feature Request: itemUnloading event similar to itemLoading event"
I could not find anything similar to this, it would be helpful to have an event for when an item is no longer being displayed as a view to free up any tasks/intervals related to it.

[2021-05-20 06:20] farfromrefug commented on #24
@garsuga such évent is not really possible seeing how collection view works. views are reused. so you wouly not always get the event

[2021-05-20 06:36] garsuga commented on #24
Sorry, I worded that poorly. I was interested in an event that would tell when at item has its view bound to a new item. That way you can tell when an item is no longer bound to a view.

https://developer.android.com/reference/kotlin/androidx/recyclerview/widget/RecyclerView.RecyclerListener
This is an event that happens when a view is being recycled, I was hoping for an event at the same time whi

[2021-05-20 07:07] farfromrefug commented on #24
@garsuga ok the thing is i want the component to remain as lean as possible for it be fast.
What you could do is:
* clone this repo
* create a new package inside packages (a new plugin)
* add the functionnality so that we can release it as a collectionview extension
* make a PR

Would that we good with you?

[2021-05-28 12:29] bmacdonald opened #25 "[Question] - Is ui-collectionview going to replace RadListView?"
Hi, I just wanted to know if this component is the replacement for RadListView?

Also, is it a better alternative?

[2021-05-28 12:31] farfromrefug commented on #25
@bmacdonald best ask that kind of question in discord. This is a place to report issues and such.
I ll gladly answer you there

[2021-05-28 12:31] #25 closed

[2021-05-28 12:45] bmacdonald commented on #25
@farfromrefug - I don't use discord.  It's blocked at work.  Anyhow, I will take it as a no.

[2021-05-28 13:36] farfromrefug commented on #25
@bmacdonald no dont take it as a NO :D you can also find us on Slack.
Yes it is a better alternative to RLV. Just some features are not there yet like swipe menu.
Also filtering / grouping needs to be done on the app side (which makes for much better perfs of the plugin)

[2021-07-27 08:37] beawolf opened #28 "Feature Request: Multiple Item Selection"
It would be nice to add a multiple item selection feature to this plugin for it to be a full alternative to [RadListView](https://docs.nativescript.org/plugins/nativescript-ui/rad-list-view.html#selection) plugin.

As a side note, both underlying native components (UICollectionView for iOS and RecyclerView for Android) seem to provide this feature on native side.

[2021-07-27 08:47] farfromrefug commented on #28
@beawolf i think it will never be part of this plugin. It is really easy to do on the app side and allows all sort of behavior / customisation. Native side provide a very limited selection implementation.
You could however create a plugin on top of this to create your special behavior if you want.
I ll close this as i wont implement this.
You are welcome to create a plugin. You can do it as a PR

[2021-07-27 08:47] #28 closed

[2021-07-27 08:57] beawolf commented on #28
I understood, @farfromrefug, fair enough. I use [ui-pulltorefresh](https://github.com/nativescript-community/ui-pulltorefresh) plugin combined with ui-collectionview plugin, for example. A separate plugin would be better maybe, as you said.

Thanks for swift response, btw. :)

[2021-07-27 09:00] farfromrefug commented on #28
@beawolf no worries. So we are clear i say selection is very easy to do thanks to observable array.

[2021-07-30 22:15] cjohn001 opened #29 "Touch event handler on items not triggered on Android (when interpreted as vertical scroll)"
Hello together,
I am trying to implement a kind of RadListView with items holding a menu which can be shown or hidden by swiping left and right.
I have things working on IOS, but I cannot get the Android version of it working. The problem is, that on android the gestures need to be 100% horizontal in order for  touch events to be passed through to nested views. Touch events interpreted as vertical

[2021-07-31 03:13] GojiDev opened #30 "(iOS) How to add easily a padding in scrollView content area ( using sectionInset property & UIEdgeInsets ) ?"
Hi, I have a question

I wanted to add an extra padding in the "scrollview" and i found only this function with `UIEdgeInsets`:

[code]

I dont found in documentation (or comments) how to set "sectionInset" property of `CollectionView` layout from DOM ( I'm using Nativescript-Vue) so i have modified the library and added properties inset[Left|Top|Bottom|Right] in code and i set this property in la

[2021-08-01 07:50] farfromrefug commented on #29
@cjohn001 could you share an example. I am not sure i see where the issue really is. I very often use horizontal collectionview inside a vertical one and it works great. So not sure.

[2021-08-01 09:17] farfromrefug commented on #30
@GojiDev thanks for reporting this! I just released 4.0.38 which adds full support for padding on iOS/Android. so simply use padding properties like you would on any other view

[2021-08-01 11:31] cjohn001 commented on #29
@farfromrefug : Thanks for looking into it. Attached you find a demo. Please look to the touch coordinates in the top box of the demo. On Android (best try also with real device) you can see, that the collectionview intercepts the touch events and that they do not bubble down to the child views. On IOS, they are correctly forwarded. This leads to errors when for example using a nativescript swipe

[2021-08-01 11:40] farfromrefug commented on #29
@cjohn001 ok i am starting to understand. You should not do it with a touch event. I would advise you to use this https://github.com/nativescript-community/gesturehandler.
you have a lot of options on the pan gesture https://github.com/nativescript-community/gesturehandler/blob/master/src/gesturehandler.d.ts#L89 which would allow you do do what you want.
This is what i did on the drawer plugin htt

[2021-08-01 12:04] cjohn001 commented on #29
@farfromrefug : Actually me first approach was to us a gesture handler.  (swipe)="onSwipe($event)"
But as mentioned above, the problem is that a gesture handler also cannot work as expected, as the touch events are not received by the child view in case they are interpreted as vertical scroll from the ui-collectionview (they are not passed through an Android)

[2021-08-01 12:57] farfromrefug commented on #29
@cjohn001 I would like you to try first with gesturehandler. I dont "trust" N event gesture recognition.

[2021-08-01 14:23] cjohn001 commented on #29
@farfromrefug : Not sure why you are not trusting the gesture recognition in N. For me it worked well so far. If you look into the source code of the gesture handler you referenced:

function onGestureTouch(args: GestureTouchEventData) {
    const { state, extraData, view } = args.data;
    view.translateX = extraData.translationX;
    view.translateY = extraData.translationY;
}
gestureHandler.on(

[2021-08-01 14:53] cjohn001 commented on #29
@farfromrefug: One question, before I start coding the fix. I have seen here:

https://github.com/nativescript-community/ui-collectionview/blob/c7e5ce9f5f6ef31beeffb87e771838dafd1db276/src/collectionview/collectionview.android.ts#L616

that the reordering feature possibly need to be considered for the fix, as it sets a custom touch listener.
How can I activate this reordering?

Seems it is not ena

[2021-08-01 15:01] farfromrefug commented on #29
@cjohn001 simply set `reorderLongPressEnabled="true"` on your collectionview.

[2021-08-01 15:44] farfromrefug commented on #29
@cjohn001 i confirm what i said gesturehandler works as expected on collectionview listitems. I can have a pan gesture on the cells without any issue and any change on the recyclerview.

[2021-08-02 13:05] GojiDev commented on #30
Thanks @farfromrefug, it's perfect 😃

[2021-08-02 13:05] #30 closed

[2021-08-02 20:15] cjohn001 commented on #29
@farfromrefug: Interesting plugin, I red about it a little more. Could you tell me for what the second parameter (16173) is good for? Could not find it in the docs.

manager.createGestureHandler(HandlerType.PAN, 16173,

However, I just provided a PR to resolve the issue. I think as the nativescript people would like to get rid of the proUI listview, it makes sense that this bug gets fixed. I am mo

[2021-08-02 21:37] cjohn001 commented on #29
@farfromrefug: Well, this is disappointing, I think it would be very helpful for others. I spent a lot of time trying to use the collection view in the right way. And it is not obvious, that one needs to work around the Nativescript event handling in order to get the plugin working.
However, I checked the Waterfall. Unfortunately, I do not understand how this subplugin thing works. May I ask you t

[2021-08-02 21:48] farfromrefug commented on #29
It is not to be disappointing. You cant see only your usecase and think that code should be there for everyone. If we did that we would end with huge mess of something dead slow, buggy and impossible to maintain.
This repo is a mono repo.
So it publishes 2 plugins (as of now) with lerna.
The sources are in src and the packages (the shell of the packages) are in packages (like most lerna repos).
Wh

[2021-08-02 21:54] cjohn001 commented on #29
Could you give me a hint, how I could plug this in? As mentioned, I tried to extend the UICollection view class, But in my angular app, that did not work. The documentation on how to do such things is unfortunately very thin and I have not a lot experience in plugin development.

[2021-08-02 22:02] farfromrefug commented on #29
@cjohn001 well if you just say it did not work i cant really help you.Now as i said the easiest way for you is to look at how the waterfall plugin is done and try to go that way. I dont know what hint you are looking for.

[2021-08-02 22:22] cjohn001 commented on #29
Ok, we than stay here :)

https://github.com/nativescript-community/ui-collectionview/pull/31#issuecomment-891366438

[2021-08-05 21:42] cjohn001 commented on #29
I will close the issue than, nothing to add here

[2021-08-05 21:42] #29 closed

[2021-08-09 22:21] cjohn001 opened #32 "Feature Request: Scroll Start event"
It would be great if the collection view could provide a scrollStart event with the scroll direction up/down. I would like to create a sticky header which shall be closed once the view is scrolled up. On scroll start I would like to resize the scrollview in order for it to occupy the vertical space which will become available from the header sliding out of the screen. This would be best done befor

[2021-08-10 10:10] farfromrefug commented on #32
@cjohn001 i just released it https://github.com/nativescript-community/ui-collectionview/commit/809842b7b2e02090bb8e1668169886038ceb5d29

[2021-08-10 21:25] cjohn001 commented on #32
@farfromrefug :
Thank you very much. I just tried it out. Works perfectly!

[2021-08-10 21:25] #32 closed

[2021-08-21 23:32] cjohn001 opened #33 "Receycled collectionview cells do not get correct height applied for new template"
### Which platform(s) does your issue occur on?
- iOS
- emulator or device. What type of device? emulator and device (iPhone 11) and different emulators

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.0.2-next-08-13-2021-1128363962
- Cross-platform modules: "@nativescript/core": "~8.1.0-alpha.1",
- Runtime(s):"@nativescript/ios": "JSC",
- Plugin(s): "@nati

[2021-08-22 06:17] farfromrefug commented on #33
@cjohn001 i dont really understand what i should see. I dont see the limit of the cells and where it fails. You need to give more details

[2021-08-22 08:21] cjohn001 commented on #33
Good Morning @farfromrefug, ok, sorry I try to explain in more detail. In the following I attached two images. The first one shows a correct layout in order to explain what is on the screen. The green marked part of the screen is not part of uicollectionview. In the collectionview, which is used by the remaining part of the screen, there are three different types of
ng-template used.

1. Group hea

[2021-08-22 11:38] farfromrefug commented on #33
@cjohn001 ok i understand it now, thanks. I might have an idea on what s happening. I will try and and release a version which might fix it. If not i will need a reproducible example

[2021-08-22 11:45] cjohn001 commented on #33
@farfromrefug: Ok thanks!

[2021-08-22 11:56] farfromrefug commented on #33
@cjohn001 you can try 4.0.43

[2021-08-22 12:18] cjohn001 commented on #33
@farfromrefug : Thank you very much. It works great!

[2021-08-22 12:18] #33 closed

[2021-08-29 14:37] cjohn001 opened #34 "Collection view interfering with page transitions in android and loading items to late on IOS"
### Which platform(s) does your issue occur on?
- iOS and Android
- iOS 14.5 and Android API 30 version have been tried
- emulator and device. What type of device, iPhone X and 11 Pro, Samsung Galaxy A52 5G

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.0.2-next-08-13-2021-1128363962
- Cross-platform modules: "version": "8.1.0-sap.0"
- Runtime(s): "@nativ

[2021-08-29 14:54] farfromrefug commented on #34
@cjohn001 thanks for the detailed report. The issue does not really come from the collectionview plugin. It only does what you tell it to do.
The issue is that you set `items`  too soon and thus when the view is loaded (before the transition starts) it has to load the collectionview items.
This is a common issue in app design, not only with nativescript but with any mobile app. You need to set you

[2021-08-29 15:29] cjohn001 commented on #34
@farfromrefug:  Thanks for the explanation. I will have a look into the canvaslabel. My cell items actually consist of a grid with two subgrids. One subgrid holding the visible content, and another subgrid holding a menu, which is displayed if the cell content is slided to the left. Not sure if I can do this with canvas label. But I will have a look at it.

Putting the data setup of the uicollecti

[2021-08-29 15:53] cjohn001 commented on #34
@farfromrefug : I have another question regarding the canvaslabel, The documentation say it does not support css. On my cells I am using fonticons For them I have to set the font class. Is there a way to use them with the canvasicon?

[2021-08-29 18:42] farfromrefug commented on #34
@cjohn001 that error seems to come from latest cli. I have the same with latest. Downgrading works here.
Now canvaslabel supports css on the canvaslabel item but will not on CSpan/CGroup. Now you can set any css property on the item directly. Just transform the name to camelcase. So icon font works too.
About your gridlayout for me. No canvaslabel wont do that. If you wanted to to get rid of it yo

[2021-08-29 20:17] cjohn001 commented on #34
@farfromrefug :  Thank you very much for the background info.

I assume with error you mean the issue with the forecasti app. I will try an older cli version than. I am not 100% sure if I got you regarding the canvaslabel. I paste my current cell content here, in order to be able to show what I am now trying to optimize. It looks as follows:

<img width="377" alt="Bildschirmfoto 2021-08-29 um 21 5

[2021-09-05 08:39] cjohn001 commented on #34
@farfromrefug : I would like to give another comment on this issue. I have now replaced my usage of collectionview with the standard listview from core. I do not have issues with the android transitions then anymore. The transition problem did not exist with RadListView and it also does not with the standard ListView. I consider the transition problem as a real show stopper for usage of this plugi

[2021-09-05 19:49] farfromrefug commented on #34
@cjohn001 i understand. Listview might not be loading data as soon as i do.
Also be careful in comparing listview does NOT use the same native view class
If you can create a repro sample(not angular please) i can look at it.

[2021-11-25 11:09] NachmanRoss opened #36 "ui-collectionview 4.0.48 throws TypeError on android"
I updated to the latest version 4.0.48 and it throws the following error on my android eulator:

JS: TypeError: Cannot read property 'scrollListener' of undefined
JS: disposeNativeView(file: app/webpack:/com.benalterdevelopment.kavohr/node_modules/@nativescript-community/ui-collectionview/index.android.js:278:0)
JS: 	at _tearDownUI(file: app/webpack:/com.benalterdevelopment.kavohr/node_modules/@na

[2021-11-25 11:53] farfromrefug commented on #36
@NachmanRoss thanks for the report. It is weird nothing has changed in this code. Plus the disposing works fine here with latest.
I will need more info on your app.

[2021-11-25 12:10] NachmanRoss commented on #36
My app is a pure typescript app and I didn't make any changes other than updating the plugin. However on the page's onNavigatingTo function I do register the page's viewModel for an OrientationChange event which updates the observables on the page. Maybe that's triggering something although the error is thrown when the app is displaying for the first time on the emulator before I rotate the emulat

[2021-11-25 12:18] farfromrefug commented on #36
@NachmanRoss there is an issue there. The bug you have is caused by `disposeNativeView` which means destroying the collectionview. It should not be called while opening the app.
I am not sure what s going on but from here i cant help as i cant reproduce. If you can create a simple repro example then i can help

[2021-11-25 12:23] NachmanRoss commented on #36
I’m not doing anything that explicitly destroys the collection view but maybe the orientation change event is. I’ll see if I can debug first by pulling out the OrientationChange event and see if the error goes away with the new release of the plugin. It is weird because my code hasn’t changed at all and the previous release of the plugin works perfectly.

Nachman Beinish Ross
On Nov 25, 2021, 7:18

[2021-11-25 18:33] NachmanRoss commented on #36
I retested with the new release and the page is working again after doing another clean and rebuild. I'm not sure what the issue was since I did more than one clean and rebuild but it is working now so close this issue.

[2021-11-25 18:33] #36 closed

[2021-12-18 11:31] Whip opened #37 "How to get a specific item from the collection"
I want to know how I can get a specific item's view from the collection using index or some other way. @farfromrefug told me about `getViewForItemAtIndex` in #17 but haven't been able to make it work. I need to do some work on each item of the list when the user presses a button (not part of collection). Here's my code:

[code]

Since there's no documentation on it, I'm just shooting in the dark h

[2022-05-02 19:35] Echoju opened #38 "[Vue warn]: Failed to mount component: template or render function not defined"
Hi,

I am having an issue.
I use CollectionView directly in a .vue file and I get this error :
"[Vue warn]: Failed to mount component: template or render function not defined"

I followed every steps as described in the readme, but no results.
I use the latest versions :
"@nativescript-community/ui-collectionview": "^4.0.49"
"@nativescript/core": "~8.2.0"
"vue": "~2.6.12"

I use the following code

[2022-05-02 19:37] farfromrefug commented on #38
@Echoju you are installing it wrong https://github.com/nativescript-community/ui-collectionview#usage-in-vue=

[2022-05-02 20:12] Echoju commented on #38
Thanks for your reply !
Could you explain a little more ?
Is it the wrong npm install ?
To be more clear I also have this in the app.ts => Vue.use(RadSideDrawer,CollectionView)

Thanks.

[2022-05-02 20:13] farfromrefug commented on #38
@Echoju this is wrong:
[code]
please look at the linked documentation

[2022-05-02 20:21] Echoju commented on #38
Thanks this was so simple !
I removed this =>
components: {
CollectionView
}

And adde a Vue.use

Thanks a lot !

[2022-05-10 23:49] Echoju commented on #38
Hello,
Sorry to bring back this issue.
But I have still a problem with registering the component "CollectionView"
I register my component as expected in my app.ts :

...
import CollectionView from '@nativescript-community/ui-collectionview/vue'
...
Vue.use(RadSideDrawer,CollectionView,BottomNavigationBar);

But I still have a message as following :
"[Vue warn]: Unknown custom element: <CollectionV

[2022-05-10 23:50] Echoju commented on #38
Hello,
Sorry to bring back this issue.
But I have still a problem with registering the component "CollectionView"
I register my component as expected in my app.ts :

...
import CollectionView from '@nativescript-community/ui-collectionview/vue'
...
Vue.use(RadSideDrawer,CollectionView,BottomNavigationBar);

But I still have a message as following :
"[Vue warn]: Unknown custom element: - did you re

[2022-05-11 00:17] Echoju commented on #38
I added this in the file app.ts so that the component coumd be "global" :
Vue.component('CollectionView', CollectionView);

And now it is working fine.

[2022-05-11 06:20] farfromrefug commented on #38
@Echoju you can't register them like that. one at a time

[2022-06-08 14:11] liamcharmer opened #39 "Reordering items within the list"
Hello! Just wondering if it's possible to reorder like you could with RadListView by tapping an item and moving it? I notice there are events that listen to reordering.

Also, are we able to target this reordering not on the parent item but on a child inside each collection?

[2022-06-08 16:59] farfromrefug commented on #39
You need to enable reordering with `reorderEnabled` property.
Then you can "start" the reordering of a cell with [startDragging](https://github.com/nativescript-community/ui-collectionview/blob/97c6859379443ed2c6424f440957b95a379992e7/src/collectionview/index.d.ts#L18=). Thus you can enable it from any view

[2022-06-30 01:46] Echoju opened #40 "CollectionView not visible in scrollview for Ios"
Hello,

I tried different use of "CollectionView" in my vue component.
It appears that when I wrap my "CollectionView" with "ScrollView" or "WrapLayout", the CollectionView is not displayed or not visible.

<WrapLayout  borderColor="#000"
          borderWidth="3" width="100%" height="100%"      >
            <CollectionView

                :items="liste_fiche"

                itemIdGenerator="i

[2022-06-30 09:23] farfromrefug commented on #40
@Echoju the CollectionView does not auto size. You need ot set an height to it.

[2022-06-30 13:39] farfromrefug commented on #40
as I told you you need to set an height to the collectionview

[2022-06-30 16:22] Echoju commented on #40
Hello,
Thanks for the answers.

I tried setting an "height", but again my collectionView seems to have issues.
Here is the code I used :

[code]

          Thanks a lot.

[2022-06-30 18:19] farfromrefug commented on #40
i can't say for sure what's happening.  but why do you use a wraplayout? try with another layout

[2022-07-16 10:42] liamcharmer commented on #15
Is there anything regarding this?

[2022-07-16 11:01] farfromrefug commented on #15
you should a use a pager for this

[2022-07-18 17:20] kakha13 opened #41 "Calling js method onViewHolderDisposed failed android"
I have problem with latest version:4.0.56
`onItemLoadingInternal`
`onItemDisposingInternal` - here is problem
also it is console logging those lines

[code]

[2022-07-18 18:48] farfromrefug commented on #41
@kakha13 sorry i ll fix it as soon as possible

[2022-07-19 13:10] farfromrefug commented on #41
@kakha13 when does it trigger? I cant reproduce the call to `onItemDisposingInternal`

[2022-07-19 14:06] farfromrefug commented on #41
@kakha13 actually fixed it. can you try 4.0.57?

[2022-07-19 16:27] kakha13 commented on #41
Tested on android now it works but I have some problem I am trying to detect problem.  Ill let you know if it's plugins problem.

[2022-07-19 18:04] farfromrefug commented on #41
@kakha13 that can't work on android. the collection view needs to know the cell height will.change.
use an observablearray. then on tap change the value on the item from the observablearray and call setItem to let the collection view know about the change

[2022-09-04 21:42] hendrickson-tyler opened #42 "Layout issues on iOS with 4.0.60 due to autoReloadItemOnLayout"
Updated to the latest 4.0.60 and it seems that the new `autoReloadItemOnLayout` is causing layout issues on iOS (at least for my app). This happens in both the simulator as well as an actual device. Android seems unaffected.

The following screenshot is what the CollectionView looks like when the `autoReloadItemOnLayout` property is not set or is set to `true`. Curiously, this issue corrects itsel

[2022-09-05 06:07] farfromrefug commented on #42
@hendrickson-tyler thanks for the report. can you share a repro simple. it was on by default cause it should work :) but i ll disable it by default.

[2022-09-07 09:37] farfromrefug commented on #42
@hendrickson-tyler default value changed in new release. By any chance could you still try to reproduce this in a simple example so that i can fix it for good?

[2022-09-07 15:31] hendrickson-tyler commented on #42
@farfromrefug Sorry for the late response. Yeah, I'll try to come up with something tonight and share that with you.

[2022-09-08 03:06] hendrickson-tyler commented on #42
@farfromrefug I think I've narrowed down the issue a bit. From what I can tell, it seems to be caused by having an `*ngFor` nested inside the CollectionView (like what I'm doing for the specific events above). Something about that is causing it to behave a little weird.

Here's a simple project where you can see the issue:
https://github.com/hendrickson-tyler/collectionview-repro

Hopefully that h

[2022-11-09 15:01] MrSnoozles opened #43 "Cannot read property "scopedFn" of undefined"
I came across this error

[code]

**Solution**
Turns out this happened, because there was no `<v-template>` that matched the item.

[2022-11-09 15:01] #43 closed

[2022-11-29 16:51] MrSnoozles opened #44 "Vue: Reactivity breaks when screen is full?"
Hey,

I'm encountering a strange behavior that I could narrow down to the CollectionView: When the full height of the CollectionView is used somehow the reactivity in a NSVue application breaks.

I created an example project (ui-collectionview is not part of the preview app yet, so it won't run there).
https://stackblitz.com/edit/nativescript-stackblitz-templates-5gmrga?file=app/components/Home.vu